.backround_base{
    background:white;
    margin-top:0;
    margin-left:0;
    margin-right:0;
}

.div_header{
    height:40px;
    width: 100%;
    background: dodgerblue;
}

.name_site{
    font-size:20px;
    font-weight:bolder;
    color: snow;
    padding-top:14px;
    padding-left:3px;
}

.div_h4_log{
    text-align:center;
    margin-top:5%;

}
.h4_log{
    font-weight:bolder;
    font-size:15px;
    color:black;
    margin-bottom:0.7%;
}
.p_text{
    font-size:14px;
    color: gray;
    margin-top:-10px;
}

.h4_sign{
    margin-top:3%;
    font-weight:bolder;
    font-size:15px;
    color:darkgrey;
    margin-bottom:0.7%;
}

.div_login_facebook_vk{
    text-align:center;
}
.fb_icon{
    background:dodgerblue;
    padding:5px 25px 5px 25px ;
    color: white;
}

.vk_icon{
    background:dodgerblue;
    padding:5px 20px 5px 20px ;
    color: white;
    margin-left:0.5%;
}
.div_social{
    text-align:center;
}