.backround_base{
    background:white;
    margin-top:0;
    margin-left:0;
    margin-right:0;
}

.div_header{
    height:40px;
    width: 100%;
    background: dodgerblue;
}

.name_site{
    font-size:20px;
    font-weight:bolder;
    color: snow;
    padding-top:14px;
    padding-left:3px;
}
