.background_sign{
    background:white;
    margin-left:0;
    margin-right:0;
}

.div_header_sign{
    height:40px;
    width: 100%;
    background: dodgerblue;
}
.name_site{
    font-size:20px;
    font-weight:bolder;
    color: snow;
    padding-top:14px;
    padding-left:3px;
}

.div_avatar{
    margin-left:0.5%;
    margin-top:3%;
}
.p_name{
    font-weight:normal;
}
.div_add_allflex{
    display: flex;
}

.p_empty_full{
    font-size:28px;
    color: gray;
    margin-left:80%;
    width:100%;
}
#example_2_1,#example_2_2{
    width: 250%;
    height:40px;
    background:dodgerblue;
    border:1px solid white;
    color: white;
}
.div_add_data{
    margin-left:15%;
    margin-top:5%;
}
