<!DOCTYPE html>
{% load static %}
{% load socialaccount %}
{% providers_media_js %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sign Place_Remember</title>
    <link rel="stylesheet" href="{% static 'css/login.css' %}">
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}"/>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css">
    <script src="{% static 'javascript_file/js.js' %}"></script>
</head>
<body class="backround_base">
{% block header %}
    <header>
            <div class="container-md">
            <div class="row">
                <div class="col-sm-12">
                    <div class="div_header">
                        <p class="name_site">PLace_RemembeR</p>
                    </div>
                </div>
            </div>
        </div>
    </header>
{% endblock %}

{% block login %}
    <section class="log_facebook">
        <div class="container-md">
            <div class="row">
                <div class="col-sm-12">
                    <div class="div_add_allflex">
                        <div class="div_h4_log">
                            <h4 class="h4_log">REMEMBER PLACE</h4>
                            <p class="p_text">Web-application with which people can store their impressions of the places they visit</p>
                        </div>
                        <div class="div_login_facebook_vk">
                            <h4 class="h4_sign">SIGN WHITH</h4>
                        </div>
                        <div class="div_social">
                            <a href="{% provider_login_url 'facebook' method='js_sdk'%}" class="btn-floating btn-lg btn-fb" type="button" role="button"><i class="fab fa-facebook-f fb_icon"></i></a>
                            <a href="{% provider_login_url 'vk' method='js_sdk'%}" class="btn-floating btn-lg btn-vk" type="button" role="button"><i class="fab fa-vk vk_icon"></i></a>
                        </div>
                    </div>
            </div>
        </div>
        </div>
    </section>

{% endblock %}
</body>
</html>
