<!DOCTYPE html>
{% load static %}
{% load socialaccount %}
{% providers_media_js %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sign Place_Remember</title>
    <link rel="stylesheet" href="{% static 'css/login.css' %}">
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}"/>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css">
    <script src="{% static 'javascript_file/js.js' %}"></script>
</head>
<body>

</body>
</html>
