{% load static %}
{% load socialaccount %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sign with socialaccounts</title>
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/sign.css' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}"/>
    <script src="{% static 'javascript_file/js.js' %}"></script>
</head>
<body class="background_sign">
{% block header %}
    <header>
        <div class="container-md">
            <div class="row">
                <div class="col-sm-12">
                    <div class="div_header_facebook">
                        <p class="name_site">PLace_RemembeR</p>
                    </div>
                </div>
            </div>
        </div>
    </header>
{% endblock %}
</body>
</html>
