{% load static %}
{% load socialaccount %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sign with socialaccounts</title>
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/sign.css' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}"/>
    <script src="{% static 'javascript_file/js.js' %}"></script>
</head>
<body class="background_sign">
{% block header %}
    <header>
        <div class="container-md">
            <div class="row">
                <div class="col-sm-12">
                    <div class="div_header_sign">
                        <p class="name_site">PLace_RemembeR</p>
                    </div>
                </div>
            </div>
        </div>
    </header>
{% endblock %}
{% block sign %}
    <section class="sign">
        <div class="div_add_allflex">
            <div class="div_avatar">
                <img style="height: 185px;width:185px;" src="{{ user.socialaccount_set.all.0.get_avatar_url }}" alt="">
                <p class="p_name">{{ user.first_name }}</p>
            </div>
        </div>
        <div class="div_add_data">
            <p class="p_empty_full">{{ user.first_name |verify_user }}</p>
            <button type="button" class="btn btn-primary" id="example_2_1"
                    onclick="document.getElementById('div_form').style.display='none'; document.getElementById('example_2_1').style.display='none'; document.getElementById('example_2_2').style.display='block';"
                    style="display:none;">ADD PLACE
            </button>
            <button id="example_2_2"
                    onclick=" document.getElementById('div_form').style.display='block'; document.getElementById('example_2_2').style.display='none'; document.getElementById('example_2_1').style.display='block';">
                ADD PLACE
            </button>
        </div>
    </section>
{% endblock %}
</body>
</html>
